<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTts" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= "TTS: #{current_tts_voice}" %>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <% tts_voices.each do |voice_id| %>
      <%= link_to voice_id, tts_path(id: current_user, user:{tts_voice: voice_id}, format: 'html'), method: :put, local: true, class: "dropdown-item" %>
    <% end %>
  </div>
</li>